.form {
  margin: 32px;
  text-align: center;
}

.form input {
  font-weight: 400;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
}

.form input:hover {
  border: 1px solid #000;
}

.form input:focus {
  outline: 1px solid #4e75ff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0 24px;
  margin-bottom: 32px;
}

.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
  border: 1px solid #808080;
}

.gallery-socials-list {
  display: flex;
  justify-content: space-evenly;
}

.gallery-social-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery-social-item span {
  font-weight: 600;
  line-height: 1.3;
  display: flex;
}

.form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  border: 0px solid transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.form button:hover,
.loadMore:hover {
  background-color: #6c8cff;
}

.js-loadMore {
  display: none;
}

.loadMore {
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 0px solid transparent;

  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;

  background: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
